body{
    background-image: url("../asserts/images/background.jpg");
    /* background-size: 60%; */
    background-size: cover;
  }

  *::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  *::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  *::-webkit-scrollbar-thumb {
    background: #c4c4c4;
  }
  
  /* Handle on hover */
  *::-webkit-scrollbar-thumb:hover {
    background: rgb(217 215 215);
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(179, 174, 174, 0.5);
  }
  